body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    background-color: silver;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    border-width: 1.5rem;
    border: 0.8rem solid silver;
    padding: 2rem;
}

.popup {
    background: firebrick;
    padding: 0.625rem;
    border-radius: 0.25rem;
    margin-top: 0.625rem;
    color: aliceblue;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: dimgray;
}

button[type="submit"] {
    background-color: royalblue;
    color: white;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
}

button[type="submit"]:hover {
    background-color: steelblue;
}

button[type="button"] {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 0.9rem;
}

button[type="button"]:hover {
    background-color: transparent;
    border: none;
    color: mediumblue;
    text-decoration: underline;
    cursor: pointer;
}
