/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
[hidden] {
    display: none !important;
}

/* custom css */
*::-webkit-scrollbar {
    width: 0.5rem;
}
*::-webkit-scrollbar-track {
    background: black;
}
*::-webkit-scrollbar-thumb {
    background: purple;
}

main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online,
.offline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.offline {
    gap: 0.1rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
}
.offline * {
    width: 100%;
    text-align: center;
}
legend {
    font-size: xx-large;
    font-weight: bold;
    width: auto !important;
}

#toggle,
#forgot-password,
#toggle:visited,
#forgot-password:visited {
    color: black;
    font-size: large;
}
#toggle:hover,
#forgot-password:hover {
    text-decoration: underline;
}
#popup {
    border: none;
    font-size: x-large;
}

.nav {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    border: 0.2rem solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.logout {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    transition: background-color 0.15s, color 0.15s;
}

.menu {
    background-color: black;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    flex-direction: column;
    display: none;
}
.menu span {
    background-color: white;
    border: 0.2rem solid white;
    border-radius: 0.1rem;
    margin: 0.1rem;
    width: 1.5rem;
}

.chatter {
    position: absolute;
    top: 4rem;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    border: 0.2rem solid black;

    display: flex;
    padding: 0.3rem;
    gap: 0.3rem;
}
.chatter input,
.offline input {
    width: 100%;
    font-size: x-large;
    padding: 0.1rem 0.5rem;
    border: 0.125rem solid black;
    border-radius: 0.3rem;
}

.side-bar {
    border: 0.2rem solid black;
    flex: 3;
    position: relative;
}
.side-bar button,
.offline button {
    background-color: black;
    color: white;
    font-size: x-large;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    transition: background-color 0.15s, color 0.15s;
}
.side-bar button:hover,
.logout:hover,
.offline button:hover {
    background-color: white;
    color: black;
}
.side-bar button:active,
.logout:active,
.offline button:active {
    background-color: black;
    color: white;
}

.add-chatters {
    top: 0;
    left: 0;
    right: 0;
}
.current-chatters {
    right: 0;
    left: 0;
    bottom: 0;
}

.add-chatters,
.current-chatters {
    position: absolute;
    min-height: 50%;
    max-height: 50%;
    border: 0.1rem solid black;

    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.2rem;
}
.add-chatters *,
.current-chatters * {
    width: 100%;
}

.current-chatters-title {
    text-align: center;
}

.chatters-list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    max-height: 100%;
    overflow-y: scroll;
}

.chat {
    border: 0.2rem solid black;
    flex: 7;

    position: relative;
}

.chat > * {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.chatter-username {
    top: 0.1rem;
    text-align: center;
}
.messages {
    border: 0.2rem solid black;
    top: 3rem;
    bottom: 3rem;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-height: 100%;
    overflow-y: scroll;
}

.message-user {
    font-size: small;
    color: gray;
}
.message-text {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: large;
}
.message-self {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.message-other {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.messages-form {
    bottom: 0.1rem;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
    .menu {
        display: flex;
    }
    /* .side-bar {
        display: none;
    } */
    .chat {
        display: none;
    }
}
